<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.youmi.android.addemo"
          android:versionCode="600"
          android:versionName="6.0.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"/>

    <!-- 配置权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- 如果使用积分墙广告,还需要配置下面权限 -->


    <!--
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission
		android:name="android.permission.PACKAGE_USAGE_STATS"
		tools:ignore="ProtectedPermissions" />
    -->


    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- 其他组件 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false">
        </service>

        <receiver android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="0">
        </meta-data>

        <activity android:name="com.minggo.autoclick.AutoClickActivity">
        </activity>
        <activity
            android:name="com.minggo.autoclick.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.minggo.autoclick.MotionEventActivity">
        </activity>
        <activity android:name="com.minggo.autoclick.AccessibilityActivity">
        </activity>
        <service
            android:label="@string/app_name"
            android:name="com.minggo.autoclick.ClickService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/click_config"/>
        </service>
    </application>

</manifest>